* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inter , sans-serif;
}

nav{
  display: flex;
  height:5rem;
  box-shadow: 0 0px 10px rgb(0 0 0 / 0.4);
  background-color:#F55A5A;
  align-items: center;
  justify-content: center;
}

nav img{
  height:30%;
}

nav p{
  margin-left: 10px;
  color:white;
}


/**************************************
***************************************
********************Card****************
****************************************
****************************************/

/* Rectangle 77 */

.card {
  position: relative;
  top:5rem;
  left:5rem;
  display: flex;
  border-bottom: 0.5px solid #2B283A;
  padding:20px 0px;
  width:90%;
  

}

.card-img img{
width: 250px;
height: 330px;
border-radius: 5px;
}

.card-details{
  margin-left: 2rem;
  flex-direction: row;
  height:30px;
  /* margin-right:13rem; */
 }
.card-details .location-details{
  height:12px;
  display: flex;
}
.location-details p{
  margin-top: 0px;
  margin-left:10px;
  font-size:14.5px;
  letter-spacing:5px;
}

.location-details a{
  margin-left: 20px;
  color:#918E9B;
  font-size: 11.24px;
}

.details p{
  color: #2B283A;
  font-size: 12.24px;
}



